In [214]:
import pandas as pd
import math
df=pd.read_csv('sample.csv',names=['text','value','reason'])
# df.drop('id', axis=1, inplace=True)
df.drop('reason', axis=1, inplace=True)
# df.drop_duplicates(subset="text",keep='first', inplace=True)

In [215]:
df

                                                    text  value
0                              Your Chanel amazingüíïüòç üíØüíØüíØ    0.0
1      CS IT Preparation ke liye ye channel best h:- ...    0.0
2      Ye video dekhne wale log hai isi hisab se dekh...    0.0
3                                         üôè good lecture    0.0
4                                  Best thanks for video    0.0
...                                                  ...    ...
28598                                @Mohamed Hissam cse    NaN
28599  @Sahaana Saravanan it&#39;s ok Senior...neega ...    NaN
28600  @Sahaana Saravanan akka football match la nada...    NaN
28601                                       GCTian...üòå‚ù§Ô∏è    NaN
28602  Enga padicha campus interview kedaikkuma sollu...    NaN

[28603 rows x 2 columns]

In [58]:
def diagnosis(row):
        if(row['text'].lower().__contains__('nice') or row['text'].lower().__contains__('thank') or row['text'].lower().__contains__('good') or row['text'].lower().__contains__('tqq') or row['text'].lower().__contains__('tqs')  or row['text'].lower().__contains__('super') or row['text'].lower().__contains__('good') or row['text'].lower().__contains__('tqq') or row['text'].lower().__contains__('tqs')  or row['text'].lower().__contains__('excellent') or row['text'].lower().__contains__('good') or row['text'].lower().__contains__('tqq') or row['text'].lower().__contains__('tqs')  or row['text'].lower().__contains__('amazing') or row['text'].lower().__contains__('good') or row['text'].lower().__contains__('tqq') or row['text'].lower().__contains__('tqs')  or row['text'].lower().__contains__('great') or row['text'].lower().__contains__('good') or row['text'].lower().__contains__('tqq') or row['text'].lower().__contains__('tqs')  or row['text'].lower().__contains__('heaven')   ):
             return 0
            
        elif(row['text'].lower().__contains__('plz') or row['text'].lower().__contains__('please') or row['text'].lower().__contains__('pls') ):
             return 2
        elif(row['text'].lower().__contains__('bad') or row['text'].lower().__contains__('worst') or row['text'].lower().__contains__('waste') ):
             return 4
        else:
            return row['value']

df['value'] = df.apply(diagnosis, axis=1)

In [68]:
def diagnosis(row):
        if(row['text'].lower().__contains__('love') or row['text'].lower().__contains__('luv') or row['text'].lower().__contains__('best') ):
             return 0
        elif(row['text'].lower().__contains__('bad')):
             return 9
        elif(row['text'].lower().__contains__('badass')):
             return 4
            
        else:
            return row['value']

df['value'] = df.apply(diagnosis, axis=1)

In [14]:
def diagnosis(row):
        if(row['text'].lower().__contains__('??')):
             return 1.0
        elif(row['text'].lower().__contains__('love') or row['text'].lower().__contains__('luv') or row['text'].lower().__contains__('best') ):
             return 0.
        elif(row['text'].lower().__contains__('plz') or row['text'].lower().__contains__('please') or row['text'].lower().__contains__('pls') ):
             return 2
            
        else:
            return row['value']

df['value'] = df.apply(diagnosis, axis=1)

In [52]:

def diagnosis(row):
        if(pd.isna(row['value'])):
            if(row['text'].lower().__contains__('wow') or row['text'].lower().__contains__('informative')):  
                 return 0
            elif(row['text'].lower().__contains__('kedaikuma')):
                 return 1
            elif(row['text'].lower().__contains__('podunga') or row['text'].lower().__contains__('sollunga')  ):
                 return 2
            else:
                return row['value']
        else:
             return row['value']
            

df['value'] = df.apply(diagnosis, axis=1)

In [61]:
def diagnosis(row):
        if(pd.isna(row['value'])):
            if(row['text'].lower().__contains__('awesome') or row['text'].lower().__contains__('helpful')):  
                 return 0
            else:
                return row['value']
        else:
             return row['value']
            

df['value'] = df.apply(diagnosis, axis=1)

In [208]:
df=df.sort_values(by=['value'])

In [219]:
df.to_csv('sample.csv',index=False)

In [216]:
dff=df.groupby('value').count()

In [217]:
dff

       text
value
0.0    5212
1.0    1978
2.0    2553
3.0    1042
4.0    2288
5.0    1054

In [218]:
df = df.dropna(axis=0, subset=['value'])
df

                                                    text  value
0                              Your Chanel amazingüíïüòç üíØüíØüíØ    0.0
1      CS IT Preparation ke liye ye channel best h:- ...    0.0
2      Ye video dekhne wale log hai isi hisab se dekh...    0.0
3                                         üôè good lecture    0.0
4                                  Best thanks for video    0.0
...                                                  ...    ...
14122                 Never hot water la maranthurunga üò¥    5.0
14123                                 Programmer pradeep    5.0
14124                                   Haha yesss.. üòÑ ü§£    5.0
14125       back when anand had hair and adhi didn&#39;t    5.0
14126                        @Vishnu sivanantham <br>Mmm    5.0

[14127 rows x 2 columns]

In [33]:
import numpy as np
np.isnan(df['value'][17777])

True

In [78]:
1700*6

10200

In [169]:
df_t=pd.read_csv('toxicity.csv')

                                                  text   is_toxic
0    Elon Musk is a piece of shit, greedy capitalis...      Toxic
1    The senile credit card shrill from Delaware ne...      Toxic
2    He does that a lot -- makes everyone look good...      Toxic
3                                           F*ck Lizzo      Toxic
4    Epstein and trump were best buds!!! Pedophiles...      Toxic
..                                                 ...        ...
995  My maternal abuelita taught me how to make pla...  Not Toxic
996  Funnily enough I was looking online last week ...  Not Toxic
997  I can't bear how nice this is.\n \n I guess it...  Not Toxic
998  Going to buy a share of Tesla just to ensure i...  Not Toxic
999  I only saw a couple of these throughout the mo...  Not Toxic

[1000 rows x 2 columns]

In [171]:
df_t['value']=4

In [172]:
df_t.columns=['text', 'reason', 'value']

In [173]:
df_t=df_t[df_t.reason=='Toxic']

In [174]:
df_t

                                                  text reason  value
0    Elon Musk is a piece of shit, greedy capitalis...  Toxic      4
1    The senile credit card shrill from Delaware ne...  Toxic      4
2    He does that a lot -- makes everyone look good...  Toxic      4
3                                           F*ck Lizzo  Toxic      4
4    Epstein and trump were best buds!!! Pedophiles...  Toxic      4
..                                                 ...    ...    ...
496  By now the Americans knew that the roots cause...  Toxic      4
497                                For fentanyl floyed  Toxic      4
498               Attack only Chinese not other Asians  Toxic      4
499  ILLEGALS ARE COMING FROM THE NORTH DUMBASS DO ...  Toxic      4
500  I‚Äôm going to call bullshit on that thing being...  Toxic      4

[501 rows x 3 columns]

In [175]:
df=pd.concat([df, df_t], axis=0)
df

                                                  text  value reason
0    Python is dynamically typed<br>Hold my cython ...    3.0    NaN
1    From transistors through kernels under the clo...    3.0    NaN
2                                                  Api    3.0    NaN
3                                                 Http    3.0    NaN
4                                                  SSL    3.0    NaN
..                                                 ...    ...    ...
496  By now the Americans knew that the roots cause...    4.0  Toxic
497                                For fentanyl floyed    4.0  Toxic
498               Attack only Chinese not other Asians    4.0  Toxic
499  ILLEGALS ARE COMING FROM THE NORTH DUMBASS DO ...    4.0  Toxic
500  I‚Äôm going to call bullshit on that thing being...    4.0  Toxic

[27104 rows x 3 columns]

In [176]:
df_tr=pd.read_csv("train.csv",usecols = [1, 3])
df_tr

                                             comment_text  severe_toxic
0       Explanation\nWhy the edits made under my usern...             0
1       D'aww! He matches this background colour I'm s...             0
2       Hey man, I'm really not trying to edit war. It...             0
3       "\nMore\nI can't make any real suggestions on ...             0
4       You, sir, are my hero. Any chance you remember...             0
...                                                   ...           ...
223544  :Jerome, I see you never got around to this‚Ä¶! ...             0
223545  ==Lucky bastard== \n http://wikimediafoundatio...             0
223546  ==shame on you all!!!== \n\n You want to speak...             0
223547  MEL GIBSON IS A NAZI BITCH WHO MAKES SHITTY MO...             0
223548  " \n\n == Unicorn lair discovery == \n\n Suppo...             0

[223549 rows x 2 columns]

In [177]:
df_tr=df_tr[df_tr.severe_toxic==1]

In [178]:
df_tr.reset_index(drop=True,inplace=True)


df_tr['value']=4
df_tr.columns=['text', 'reason', 'value']

C:\Users\ganap\AppData\Local\Temp\ipykernel_10672\2340892390.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tr['value']=4

In [179]:
df_tr

                                                   text  reason  value
0          COCKSUCKER BEFORE YOU PISS AROUND ON MY WORK       1      4
1     Stupid peace of shit stop deleting my stuff as...       1      4
2     you are a stupid fuck \n\nand your mother's cu...       1      4
3          Hi \n\nIm a fucking bitch.\n\n50.180.208.181       1      4
4     What a motherfucking piece of crap those fuckh...       1      4
...                                                 ...     ...    ...
1957  == SLUT == \n\n I hope you get breast cancer, ...       1      4
1958  :: No one wants children seeing an explicit ph...       1      4
1959  == ur dumb == \n\n you jerk you blocked me! i ...       1      4
1960  "b style=""font-size:40px"">CALVIN IS A FUCKIN...       1      4
1961  I will meet you one day and stab you to death ...       1      4

[1962 rows x 3 columns]

In [180]:
df_tr=df_tr.loc[0:1500]

In [181]:
df=pd.concat([df, df_tr], axis=0)
df

                                                   text  value reason
0     Python is dynamically typed<br>Hold my cython ...    3.0    NaN
1     From transistors through kernels under the clo...    3.0    NaN
2                                                   Api    3.0    NaN
3                                                  Http    3.0    NaN
4                                                   SSL    3.0    NaN
...                                                 ...    ...    ...
1496               your gay \n\nyou're a fucking faggot    4.0      1
1497  FUCK U! U FUCKEN STOLE MY CLOUDSONG AND IF I E...    4.0      1
1498  FUCK YOUR DOG \n\nFUCK YOUR DOG FUCK YOUR DOG ...    4.0      1
1499  HEY FUCKFACE STOP REVERTING MY PAGE U GAY LOSE...    4.0      1
1500  Yeah. go suck dick u corrupt retarded fat pig ...    4.0      1

[28605 rows x 3 columns]